.container-fluid {
  height: 100vh;
  font-family: "Nova Slim", cursive;
  font-size: 1.1em;
}

.card {
  width: 50%;
  background-color: transparent;
  border: 0;
}

.card-img-top {
  height: 70%;
  width: 70%;
}

.contact-icons a {
  color: #303841;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background-color: #ea9215;
  color: #303841;
}
